@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #224B0C;
    --cor-secundaria:#B7B78A;
    --cor-terciaria: #EEEEEE;

    --cor-navEfootter:#DDDDDD;
    --cor-texto: #000000;
    --cor-titulo:#446A46; 
}

*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;

}
.cabecalho{
    background-color: var(--cor-primaria);
    padding: 50px;
}
.cabecalho__menu{
    display: flex;
    justify-content: center;
    gap: 40px;
    
}
.cabecalho__menu__itens{
    text-decoration: none;
    color: var(--cor-terciaria);
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}
.cabecalho__menu__itens:hover{
    color: var(--cor-secundaria);
}
.secao-fixado{
    background-color: var(--cor-secundaria);
    padding: 150px;
}
.secao-fixado__textos{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}
.secao-fixado__textos__titulo-fixado{
    color: var(--cor-primaria);
    font-size: 36px;
    font-family: 'Krona one',sans-serif;
}
.secao-fixado__textos__parag-fixado{
    color: var(--cor-primaria);
    font-size: 24px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    
}